/*RESET boxes for more consistency*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*VARIABLES*/
:root {
    --color1: #c6cade;
    --color2: #f8f4f4;
    --color3: #474d66;
    --color4: #5f567b;
    --color5: #6a2d43;
    --color6: #832F44;
    --ff: Georgia, 'Times New Roman', Times, serif;
    --p: 1rem var(--ff);
    --h1: 900 2.027rem var(--ff);/*900 controla grosor*/
    --h2: 1.802rem var(--ff);
    --h3: 1.602rem var(--ff);
    --small: 0.889rem var(--ff);
}
/*GLOBAL STYLES*/
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}
body {
    font: var(--p);
    background: var(--color2);
    color: var(--color3);
}
h1 {
    font: var(--h1);
}
h2 {
    font: var(--h2);
    margin: 8px 0;
}
h3 {
    font: var(--h3);
    margin: 8px 0;
}
p {
    margin: 8px 0;
}
a {
    color: var(--color4);
    text-decoration: none;
}
li {
    list-style: none;
}
button{
    background: var(--color5);
    color: var(--color1);
    width: 20vh;
    padding: 0.4rem;
    margin: 0.4rem;
    border: none;
    border-radius: 0.4rem;
    transition: 0.5s;
}
button:hover {
    background: var(--color6);
    color: var(--color2);
}
img, .card {
    border-radius: 1rem;
    max-width: 16rem; /*card son los articles con imagen, evita expansion de caja en PC*/
}
/*LAYOUT*/
section:nth-child(even) {
    background: var(--color1);
}
section {
    min-width: 17rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.row-direction {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /*en vez de margrin article, este es mejor y afecta a todos*/
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    min-width: 16rem; /*para que en mobile todas las cajas midan igual (misma medida imagen)*/
    max-width: 50%; /*menos max-witdth rompe ropme la pagina en mobile, sin el expande todo*/
    overflow: hidden; 
    /*podria mejor ser scroll, pero para ello se mecesitaria 
    crear un div para solo la imagen y pegar el atributo en el, 
    sino hace scroll de texto tambien*/
}
/*MORE SPECIFIC*/
.card {
    border: 2px solid var(--color4);
    
    justify-content: start;
}
.headings-sections {
    align-items: center;
}
header {
    position: sticky;
    top: 0;
    background: var(--color2);
    min-width: 17rem;

}
nav ul {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

@media (max-width: 893px) {
    #nav-bar nav {
        display: none;
    }
    
    #nav-bar button {
        width: 12vh;
        font-size: 0.8rem;
        padding: 0.3rem;
    }
}
